{% extends "base_generic.html" %}


{% block content %}

<div class="container">
  <h3 class="tex.center mt-2 mb-2">{{video.nombre}}</h3>
  <video width="400" controls>
    <source src="{{video.archivo_video.url}}" type="video/mp4">
  </video>
  {% if user.is_authenticated %}
    <a href="{{video.archivo_video.url}}" download="{{video.archivo_video.url}}" class="btn btn-default">Descargar</a>
  {% else %}
    <a href="{% url 'iniciar_sesion' %}" class="btn btn-default">Descargar</a>
  {% endif %}
</div>

{% endblock %}
<!--



  <h1>Title: {{ book.title }}</h1>

  <p><strong>Author:</strong> <a href="">{{ book.author }}</a></p>--> <!-- author detail link not yet defined -->
  <!--<p><strong>Summary:</strong> {{ book.summary }}</p>
  <p><strong>ISBN:</strong> {{ book.isbn }}</p> 
  <p><strong>Language:</strong> {{ book.language }}</p>  
  <p><strong>Genre:</strong> {% for genre in book.genre.all %} {{ genre }}{% if not forloop.last %}, {% endif %}{% endfor %}</p>
  -->
